:root {
  --fs-1: 1em;
  --fs-2: 1.1em;
  --fs-3: 1.2em;
  --fs-4: 1.3em;
  --fs-5: 1.4em;
  --fs-6: 1.5em;

  --pt-1: 0.2rem;
  --pt-2: 0.8rem;
  --pt-3: 1.4rem;
  --pt-4: 2rem;
  --pt-5: 3rem;
  --pt-6: 5rem;
}

.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}
.fs-3 {
  font-size: var(--fs-3);
}
.fs-4 {
  font-size: var(--fs-4);
}
.fs-5 {
  font-size: var(--fs-5);
}
.fs-6 {
  font-size: var(--fs-6);
}

/* Padding */
.p-1 {
  padding: var(--pt-1);
}
.p-2 {
  padding: var(--pt-2);
}
.p-3 {
  padding: var(--pt-3);
}
.p-4 {
  padding: var(--pt-4);
}
.p-5 {
  padding: var(--pt-5);
}
.p-6 {
  padding: var(--pt-6);
}

/* Padding Top */
.pt-1 {
  padding-top: var(--pt-1);
}
.pt-2 {
  padding-top: var(--pt-2);
}
.pt-3 {
  padding-top: var(--pt-3);
}
.pt-4 {
  padding-top: var(--pt-4);
}
.pt-5 {
  padding-top: var(--pt-5);
}
.pt-6 {
  padding-top: var(--pt-6);
}

/* Margin Top */
.mt-auto {
  margin-top: auto;
}
.mt-1 {
  margin-top: var(--pt-1);
}
.mt-2 {
  margin-top: var(--pt-2);
}
.mt-3 {
  margin-top: var(--pt-3);
}
.mt-4 {
  margin-top: var(--pt-4);
}
.mt-5 {
  margin-top: var(--pt-5);
}
.mt-6 {
  margin-top: var(--pt-6);
}

/* Margin Bottom */
.mb-auto {
  margin-bottom: auto;
}
.mb-1 {
  margin-bottom: var(--pt-1);
}
.mb-2 {
  margin-bottom: var(--pt-2);
}
.mb-3 {
  margin-bottom: var(--pt-3);
}
.mb-4 {
  margin-bottom: var(--pt-4);
}
.mb-5 {
  margin-bottom: var(--pt-5);
}
.mb-6 {
  margin-bottom: var(--pt-6);
}

.max-width-prose {
  max-width: 65ch;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-2 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-4 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}
.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.mx-6 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.ms-auto {
  margin-left: auto;
}
.me-auto {
  margin-right: auto;
}
.ms-2rem {
  margin-left: 2rem;
}

.card-width {
  max-width: 35rem;
}

.card-container {
  padding: 2rem 2rem !important;
}

.gif-image {
  max-width: 45rem;
}

.font-size-lg {
  font-size: 2rem !important;
}

.text-white {
  color: #eaeaea !important;
}

.border {
  border: 1px solid gray;
}

.border-rounded {
  border-radius: 1rem;
}

.shadow {
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important; */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.self-start {
  align-self: start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}
